.button {
  color: var(--text-color);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &_width_stretch {
    width: 100%;
  }

  &_width_fixed {
    width: 280px;
  }

  &_align_center {
    margin: 0 auto;
  }

  &_align_right {
    right: 0;
  }

  &_align_left {
    left: 0;
  }

  &_view_primary {
    background-color: var(--primary-color);
    color: var(--pure-white);
  }

  &_view_default {
    background-color: var(--primary-bg-color);
  }

  &_view_link {
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: underline;
    display: block;
    align-items: center;
    padding: 0;
    border-radius: unset;
  }

  &_view_secondary {
    border: 1px solid var(--primary-color);
    background: var(--primary-bg-color);
    color: var(--primary-color);
  }

  &_view_info {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    border-radius: 8px;
    padding: 10px 20px;
    width: auto;
  }

  &_view_error {
    background: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }

  &:disabled {
    background-color: var(--disabled-bg-color);
    transform: none !important;
    translate: none !important;
    cursor: default !important;
  }

  &__link {
    text-decoration: none;
  }
}
