.input-field {
  position: relative;
  min-height: 50px;

  &__label {
    position: absolute;
    z-index: 0;
    bottom: 28px;
    display: block;
    font-size: 13px;
    line-height: 13px;
    color: $text-color-light;
  }

  &__input {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid $primary-color;
    background-color: transparent;
    height: 35px;
    text-align: center;
  }

  &__error-text {
    color: $error-text-color;
    margin-top: 7px;
    font-size: 8px;
    line-height: 8px;
    display: block;
    text-align: left;
  }

  &_labeled {
    min-height: 62px;

    .input-field__input {
      text-align: left;
      height: 25px;
    }

    .input-field__label {
      position: relative;
      bottom: auto;
      font-size: 12px;
    }
  }

  &__password-control {
    position: absolute;
    z-index: 100;
    right: 0;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;

    &_view {
      background: url('./static/pass_view.svg') 50% 50% no-repeat;
    }

    &_hide {
      background: url('./static/pass_hide.svg') 50% 50% no-repeat;
    }
  }
}
