.profile-page {
  &__title {
    margin-bottom: 30px;
  }

  &__bottom-wrapper {
    margin-top: 53px;
    display: flex;
    justify-content: center;

    .button {
      margin-left: 9px;
      margin-right: 9px;
    }
  }

  &__edit-btn {
    max-width: 280px;
  }

  &__save-btn {
    max-width: 162px;
  }

  &__discard-btn {
    max-width: 162px;
  }

  &__top-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-bottom: 50px;
  }

  &__avatar {
    justify-self: center;
  }

  &__btn-logout {
    justify-self: end;
    background: url('./static/btn-logout.svg') no-repeat center right;
    width: 78px;
    height: 20px;
    text-align: left;
    display: block;
    border: none;
    padding: 0;
  }

  &__editpass {
    display: flex;
    justify-content: space-between;
    height: 37px;
    border-bottom: 1px solid $primary-color;
    align-items: center;
  }

  .input-field__error-text {
    text-align: center;
  }
}
