$light-theme-primary-color: '#35a7ee';
$light-theme-secondary-color: '#1b305a';
$light-theme-text-color: '#000000';
$light-theme-error-text-color: '#ff4d00';
$light-theme-text-color-light: '#999999';
$light-theme-primary-bg-color: 'rgb(255 255 255 / 90%)';
$light-theme-secondary-btn-bg-color: 'rgb(255 255 255 / 40%)';
$light-theme-disabled-bg-color: '#999999';
$light-theme-accent-color: '#ffc701';
$light-theme-pure-white: '#ffffff';
$light-theme-error-text-color: '#FF4D00';
$light-theme-error-text-color-light: '#fff501';
$light-theme-light-blue: '#daecf8';
$light-theme-purple: '#5d32bb';
$light-theme-orange: '#ff8652';
